<link rel="stylesheet" type="text/css" href="<%=assetPath('footer.css')%>">
<footer>
    <div class="left-div">
        <div class="footer_section">
            <div class="title">ABOUT US</div>

            <div class="content-list">
                <a href="/motto">Our Motto</a>
                <a href="/career">Careers</a>
            </div>

        </div>
        <div class="footer_section">
            <div class="title">POLICIES</div>
            <div class="content-list">
                <a href="/return-policy">Return Policy<a>
                        <a href="/terms-and-conditions">Terms & Conditions</a>
                        <a href="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
        <div class="footer_section">
            <div class="title">CONTACT US</div>

            <div class="content-list contact">
                <a target="_blank" href="https://mail.google.com/mail/?view=cm&to=blissofficialindia@gmail.com"><i class="fa-solid fa-envelope"></i> Write to Us</a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=916291180066"><i class="fa-brands fa-whatsapp"></i> Chat With Us</a>
                <a target="_blank" href="tel:+916291180066" ><i class="fa-solid fa-phone-volume"></i>629-118-0066</a>
            </div>

        </div>
        <div class="footer_section">
            <div class="title">FOLLOW US</div>

            <div class="content-list contact">
                <a target="_blank" href="https://instagram.com/bliss.india?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a target="_blank" href="https://www.youtube.com/@Bliss.India.official"><i class="fa-brands fa-facebook"></i> Facebook</a>
                <!-- <a href=""><i class="fa-brands fa-twitter"></i>Twitter</a> -->
            </div>

        </div>
    </div>
    <!-- <div class="feedback">
        <div>Give us your feedback:</div>
        <textarea rows="10" cols="50"></textarea>
        <button>Submit</button>
    </div> -->
</footer>
<script src="https://kit.fontawesome.com/501910dff8.js" crossorigin="anonymous"></script>