<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="left-div">
        <div class="footer_section">
            <div class="title">ABOUT US</div>

            <div class="content-list">
                <a href="">Our Motto</a>
                <a href="">Team</a>
                <a href="">Careers</a>
            </div>

        </div>
        <div class="footer_section">
            <div class="title">POLICIES</div>
            <div class="content-list">
                <a href="">Return Policy<a>
                        <a href="">Terms & Conditions</a>
                        <a href="">Privacy Policy</a>
            </div>
        </div>
        <div class="footer_section">
            <div class="title">CONTACT US</div>

            <div class="content-list">
                <a href=""><i class="fa-solid fa-envelope"></i> Write to Us</a>
                <a href=""><i class="fa-brands fa-whatsapp"></i> Chat With Us</a>
                <a><i class="fa-solid fa-phone-volume"></i> 1800-000-1111</a>
            </div>

        </div>
        <div class="footer_section">
            <div class="title">FOLLOW US</div>

            <div class="content-list">
                <a href=""><i class="fa-brands fa-instagram"></i>Instagram</a>
                <a href=""><i class="fa-brands fa-facebook"></i>Facebook</a>
                <a><i class="fa-brands fa-twitter"></i>Twitter</a>
            </div>

        </div>
    </div>
    <!-- <div class="feedback">
        <div>Give us your feedback:</div>
        <textarea rows="10" cols="50"></textarea>
        <button>Submit</button>
    </div> -->
</footer>
<script src="https://kit.fontawesome.com/501910dff8.js" crossorigin="anonymous"></script>