<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="company-logo">
        <h1 class="heading-text"><a href="/"><img src="/Images/Bliss India Logo.jpg">Bliss India</a></h1>
    </div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" required class="search-input">
    </div>
    <div class="user-options">
        <div class="wishlist">
            <i class="fa-solid fa-heart"></i> wishlist
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i> Cart
        </div>
        <div class="user"><i class="fa-solid fa-user"></i> user</div>
        <a style="color:#333;" href="/users/sign-in">Sign In</a>
        <a style="color:#333;" href="/users/sign-up">Sign Up</a>
    </div>
</header>

<section class="nav-bar">
    <div class="category"><a href="/crystalCollection">Crystal Collection</a></div>
    <div class="category" id="pendant"><a href="/pendants">Pendants</a></div>
    <div class="category"><a href=".lockets">Lockets</a></div>
    <div class="category"><a href="/earrings">Earrings</a></div>
    <div class="category"><a href="/bracelets">Bracelets</a></div>
    <div class="category"><a href="/rings">Rings</a></div>
    <div class="category"><a href="/completeSets">Complete Sets</a></div>
    <div class="category"><a href="evilEyeCollection">Evil Eye Collection</a></div>
    <div class="category"><a href="offers">Offers</a></div>
</section>
<hr>


<div class="pendant-hover">
    <div id="hover-loader"></div>
    <div class="pendant-categories"><a href="">Premium Pendants</a></div>
    <div class="pendant-categories"><a href="">Minimal Pendants</a></div>
    <div class="pendant-categories"><a href="">Silver Pendants</a></div>
    <div class="pendant-categories"><a href="">Charm Pendants</a></div>
</div>

<script type="text/javascript" src="/js/header.js"></script>
<!-- <script src="https://kit.fontawesome.com/501910dff8.js" crossorigin="anonymous"></script> -->