<!-- <style>
    @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        padding: 1%;
        height: 10vh;
        width: 100%;
        background: linear-gradient(-60deg, #bdb2ff, #fffffc);
        background: #fffffc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Dosis;
        text-transform: capitalize;
    }

    .search-bar {
        margin-left: 17%;
        padding: 0 1%;
        width: 30%;
        height: 6vh;
        border-radius: 3vh;
        overflow: hidden;
        background: linear-gradient(-60deg, #2f4f4f20, #d3d3d320);
        background: -webkit-linear-gradient(-60deg,#a0c4ff30,#9bf6ff30);
        
    }
    
    .search-bar:hover{
        background: -webkit-linear-gradient(-60deg,#a0c4ff50,#9bf6ff50);
    } 


    .search-bar>i {
        font-size: 1.1rem;
    }

    .search-input {
        width: 93%;
        height: 100%;
        color: #222;
        font-family: dosis;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0% 1% 0 4%;
        background: none;
        border-radius: 3vh;
        outline: none;
        border: none;
    }

    .user-options{
        padding: 0.5%;
        width: 25%;
        color: #222;    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .user-options>div{
        padding: 1% 4%;
        transition: ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .user-options>div>i{
        padding:  0 10% 0 0;
    }

    .user-options>div:hover{
        background-color: #333;
        background: -webkit-linear-gradient(60deg,#a0c4ff,#9bf6ff);
        color: #333;
        border-radius: 1vh;
    }
</style> -->
<link rel="stylesheet" href="/css/home.css">

<header>
    <h1>Bliss India</h1>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" required class="search-input">
    </div>
    <div class="user-options">
        <div class="wishlist">
            <i class="fa-solid fa-heart"></i> wishlist
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i> Cart
        </div>
        <div class="user"><i class="fa-solid fa-user"></i> user</div>
    </div>


</header>
<script src="https://kit.fontawesome.com/501910dff8.js" crossorigin="anonymous"></script>