<link rel="stylesheet" href="/css/header.css">

<header>
    <div class="company-logo">
        <a href="/"><img src="/Images/Bliss India Logo.jpg">Bliss India</a>
    </div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <form action="/products/search-product" method="post" id="search-form">
            <input type="text" required class="search-input" name="name" autocomplete="off">
        </form>
    </div>
    <div class="user-options">
        <div class="wishlist">
            <i class="fa-solid fa-heart"></i> wishlist
        </div>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i> Cart
        </div>
        <%if(locals.user){%>
            <div class="user"><i class="fa-solid fa-user"></i>
                <%=user.name.split(' ')[0]%>
            </div>
        <%}else{%>
            <div class="user"><i class="fa-solid fa-user"></i>User</div>
        <%}%>
    </div>
</header>

<section class="nav-bar">
    <div class="category"><a href="/products/crystal-collection">Crystal Collection</a></div>
    <div class="category" id="pendant"><div class="pendant-hover">
        <div id="hover-loader"></div>
        <div class="pendant-categories"><a href="">Premium Pendants</a></div>
        <div class="pendant-categories"><a href="">Minimal Pendants</a></div>
        <div class="pendant-categories"><a href="">Silver Pendants</a></div>
        <div class="pendant-categories"><a href="">Charm Pendants</a></div>
    </div>
    <a href="/products/pendants">Pendants</a></div>
    <div class="category"><a href="/products/lockets">Lockets</a></div>
    <div class="category"><a href="/products/earrings">Earrings</a></div>
    <div class="category"><a href="/products/bracelets">Bracelets</a></div>
    <div class="category"><a href="/products/rings">Rings</a></div>
    <div class="category"><a href="/products/complete-sets">Complete Sets</a></div>
    <div class="category"><a href="/products/evil-eye-collection">Evil Eye Collection</a></div>
    <div class="category"><a href="/products/offers">Offers</a></div>
</section>
<hr>


<!-- <div class="pendant-hover">
    <div id="hover-loader"></div>
    <div class="pendant-categories"><a href="">Premium Pendants</a></div>
    <div class="pendant-categories"><a href="">Minimal Pendants</a></div>
    <div class="pendant-categories"><a href="">Silver Pendants</a></div>
    <div class="pendant-categories"><a href="">Charm Pendants</a></div>
</div> -->

<div class="user-hover">
    <div id="user-hover-loader"></div>
    <%if(locals.user){%>
            <div class="user-categories"><a href="/users/profile?id=<%=locals.user._id%>">My Profile</a></div>
            <%if(user.adminAccess){%>
                <div class="user-categories"><a href="/users/add-product-page" >Add Product</a></div>
            <%}%>
        <div class="user-categories"><a href="/users/sign-out">Sign Out</a></div>
    <%}else{%>
        <div class="user-categories"><a style="color:#333;" href="/users/sign-in">Sign In</a></div>
        <div class="user-categories"><a style="color:#333;" href="/users/sign-up">Sign Up</a></div>
    <%}%>
</div>

<ul id="search-result-container">
    
</ul>

<script type="text/javascript" src="/js/header.js"></script>
<!-- <script src="https://kit.fontawesome.com/501910dff8.js" crossorigin="anonymous"></script> -->



<script>
    {
        const searchBar = document.getElementsByClassName('search-input')[0]; 
        let searchProduct = function () {
            let searchForm = $('#search-form');
            let resultList = $('#search-result-container');
            console.log(resultList);
            $.ajax({
                type: 'post',
                url: '/products/search-product',
                data: searchForm.serialize(),
                success: function (data) {
                    console.log(data.data.products.length);
                    let sr=searchResultDom(data.data.products,resultList);
                    // resultList.append(sr)
                },
                error: function (err) { 
                    console.log(err.responseText);
                }
            });
        }

        let searchResultDom=function(searchResults,resultList){   
            resultList.empty();
            const searchResultItems = searchResults.map((searchResult) => {
                resultList.append($(`<li>
                    <a class="search-result-section" href="/products?id=${searchResult._id}"> 
                    <img class="search-result-image" src="${searchResult.photos[0]}" alt="product-image">
                    <div class="search-result-details">
                        <p class="search-result-name">${searchResult.name}</p>
                        <p class="search-result-category">${searchResult.category}</p>
                        <p class="search-result-price"><i class="fa-solid fa-indian-rupee-sign"></i> ${searchResult.selling_price}</p>
                    </div>
                    </a>
                </li>`)
                )
            });
            return $(searchResultItems);
        }
        searchBar.addEventListener('keyup', () => {
            if($('#search-form input')[0].value!=''){
                searchProduct();
            }
            else{
                $('#search-result-container').empty();
            }
        })
    }


</script>