<link rel="stylesheet" href="<%=assetPath('addProduct.css')%>">


<section class="product-container">
    <form action="/users/add-product" method="post" enctype="multipart/form-data">

        <div class="product-label">
            <label>Category:</label>
            <select name="category" class="select-category">
                <option value="crystal">Crystal Collection</option>
                <option value="pendant">Pendants</option>
                <option value="locket">Lockets</option>
                <option value="earring">Earrings</option>
                <option value="bracelet">Bracelets</option>
                <option value="ring">Rings</option>
                <option value="complete">Complete Sets</option>
                <option value="evil_eye">Evil Eye Collection </option>
                <option value="offer">Offers </option>
            </select>
        </div>
        <!-- <div class="product-label">
            <label>Sub Category:</label>
            <input type="text" name="sub_category" placeholder="Product Sub Category" >
        </div> -->
        <div class="product-label">
            <label>Name:</label><input type="text" name="name" placeholder="Product Name" required>
        </div>
        <div class="product-label">
            <label>MRP:</label><input type="number" placeholder="MRP" name="mrp" required>
        </div>
        <div class="product-label">
            <label>Selling Price:</label><input type="number" name="selling_price" placeholder="Selling Price" required>
        </div>
        <div class="product-label">
            <label>Description:</label><textarea placeholder="Description of the product" name="description" rows="10" cols="39"></textarea>
        </div>
        <div class="product-label">
            <label>Inventory:</label><input type="number" placeholder="Stock of the product" required name="inventory">
        </div>
        <div class="product-label">
            <label>Add Image:  </label><input type="file" name="photos" multiple='multiple'>
        </div>
        <div class="product-label">
            <button type="submit" id="add-button">Add Product</button>
        </div>
    </form> 

</section>