
<link rel="stylesheet" href="<%=assetPath('changePasswordPage.css')%>">

<div class="outer-container">
    <form action="/users/change-password?id=<%=user.id%>" method="post" class="change-form">    
        <div class="change-div">
            <label>Old Password:</label><div class="password"><input type="password" placeholder="Current password" name="old_password" id="old-password" required><i class="fa-solid fa-eye"></i></div>
        </div>
        <div class="change-div">
            <label>New Password:</label><div class="password"><input type="password" name="new_password" id="input-password" placeholder="Confirm Password" required maxlength="20" minlength="8"><i class="fa-solid fa-eye"></i></div>
        </div>
        <div class="change-div">
            <label>Confirm Password:</label><div class="password"><input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm Password" required maxlength="20" minlength="8"><i class="fa-solid fa-eye"></i></div>
        </div>
        <input type="submit" value="Change Password" class="change-password">
    </form>

</div>

<script type="text/javascript" src="/JS/changePasswordPage.js"></script>
