<link rel="stylesheet" type="text/css" href="/css/crystalCollection.css">
<h1>crystal collection</h1>

<div class="main-image-container"></div>
<div class="details-container"></div>

<script type="text/images" src="/js/crystalCollection.js"></script>