<link rel="stylesheet" href="<%=assetPath('error.css')%>">



<section>
    <!-- <header>
        <div class="logo">
            <img src="/Images/Bliss India Logo2.jpeg" alt="Logo">
        </div>
    </header> -->
    <main>
        <div class="error-message">
            <h1>Oops! Something went wrong.</h1>
            <p>There has been an issue on our end. Please report this problem.</p>
        </div>
    </main>
    
</section>



