<link rel="stylesheet" href="<%=assetPath('signIn.css')%>">
<link rel="stylesheet" href="<%=assetPath('forgotPasswordPage.css')%>">

<section class="sign-in-container"style="margin-top:10%;margin-bottom:20%;">
    <h3 class="sign-in-heading">
        Please enter your email
    </h3>
    <form action="/users/forgot-password" method="post" class="sign-in-form">
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" id="sign-in" value="Get OTP" style="width: 10vw;">
    </form>
</section>
