<link rel="stylesheet" href="/css/signIn.css">

<section class="sign-in-container">
    <h3 class="sign-in-heading">
        Please enter your email
    </h3>
    <form action="/users/forgot-password" class="sign-in-form">
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" id="sign-in" value="Get OTP">
    </form>
</section>
