<style>
    .banners{
        margin: 2%;
    }
    .banners img {
        width: 100%;
        height: 80vh;
    }
</style>

<section class="banners">
    <div class="swiper banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide image"><img src="/Images/Swiper/1.jpg" alt=""></div>
            <div class="swiper-slide image"><img src="/Images/Swiper/3.jpg" alt=""></div>
            <div class="swiper-slide image"><img src="/Images/Swiper/1.jpg" alt=""></div>
            <div class="swiper-slide image"><img src="/Images/Swiper/4.jpg" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
