<link rel="stylesheet" href="/css/signUp.css">
<link rel="stylesheet" href="/css/profile.css">

<div>
    <form action="/users/update-user?id=<%=profile_user.id%>" method="post" class="sign-up-form">
        <div class="form-container">
            <label>Name:</label>
            <input type="text" name="name" value="<%=profile_user.name%>" required>
        </div>
        
        <!-- <div class="form-container">
            <label>Password:</label><input type="password" name="password" id="input-password">
        </div> -->
        <div class="form-container">
            <label>Address Line 1:</label><input type="text" name="address1" placeholder="(House No)">
        </div>
        <div class="form-container">
            <label>Address Line 2:</label><input type="text" name="address2" placeholder="(Area and Street)">
        </div>

        <div class="form-container">
            <label>Address Line 3:</label><input type="text" name="address3" placeholder="(State and PinCode)">
        </div>
        <div class="form-container">
            <input type="submit" id="sign-up" value="Save Changes">
        </div>
        <a href="/users/change-password" class="signUp-signIn">Click here to change password</a>
        <%if(profile_user.adminAccess==true){%>
            <a href="/users/add-product" class="signUp-signIn">Add product</a>
        <%}%>
    </form>

</div>

<form method="post" action="/users/update-user">

</form>