<link rel="stylesheet" href="<%=assetPath('signIn.css')%>">

<section class="sign-in-container">
    <h2 class="sign-in-heading">
        Sign In
    </h2>

        <form action="/users/create-session" method="get" class="sign-in-form">
        <input type="email" name="email" placeholder="Email" required>
        <div class="password"><input type="password" name="password" id="input-password" placeholder="Password" required><i class="fa-solid fa-eye"></i></div>
        <input type="submit" id="sign-in" value="Sign In">
    </form>
    <a href="/users/sign-up" class="signUp-signIn">Don't have an account? Sign Up</a>
    <a href="/users/forgot-password-page" class="signUp-signIn">Forgot password? Click here</a>
    <br>
    <a class="google-icon" href="/users/auth/google"><i class="fa-brands fa-google"></i> &nbsp; Sign in using Google</a>

</section>

<script type="text/javascript" src="/JS/signUp.js"></script>
