
<link rel="stylesheet" href="<%=assetPath('tnc.css')%>">
<main>
    <div class="container">
        <h1>Terms and Conditions</h1>

        <p class="heading">Welcome to Bliss India. These terms and conditions outline the rules and
            regulations for using our website and services. By accessing this website, you agree to comply with these
            terms and conditions. If you do not agree with any part of these terms, please do not use Bliss India</p>

        <h2>User Responsibilities</h2>
        <p>You agree to use our website responsibly and lawfully. Any content you submit to Bliss India, including text,
            images, and other media, must not violate any laws, infringe on third-party rights, or give rise to legal
            action.</p>

        <h2>Content Ownership</h2>
        <p>All materials on Bliss India are owned by us unless otherwise stated. You may access our content for personal
            use, but you must not distribute, reproduce, or sell it without explicit permission.</p>

        <h2>Links to Third-Party Websites</h2>
        <p>Our website may contain links to third-party websites. We are not responsible for the content or practices of
            these external sites. These links are provided for your convenience, and you access them at your own risk.
        </p>

        <h2>Limitation of Liability</h2>
        <p>We strive to provide accurate and reliable information on our website. However, we do not guarantee the
            accuracy, completeness, or reliability of any content. We are not liable for any losses or damages arising
            from your use of our website.</p>

        <h2>Changes to Terms and Conditions</h2>
        <p>We may update these terms and conditions from time to time. Any changes will be effective when posted on our
            website. It's your responsibility to review these terms periodically.</p>


            <div class="contact-info">
                <h1>Contact Us</h1>
                <p>If you have any questions or concerns , please feel free to reach out to our
                    customer support team at:</p>
                <p>Email: <a href="https://mail.google.com/mail/?view=cm&to=blissofficialindia@gmail.com">blissofficialindia@gmail.com</a></p>
                <p>Phone: <a href="tel:+6291180066">6291180066</a></p>
                <p>We are here to assist you and provide a seamless shopping experience.</p>
            </div>
    </div>
</main>