header {
    font-size: 1.6rem;
    padding: 1%;
    height: 10vh;
    width: 100%;
    background: linear-gradient(-60deg, #bdb2ff, #fffffc);
    background: #fffffc;
    background: -webkit-linear-gradient(60deg,#a0c4ff30,#9bf6ff30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: dosis;
    text-transform: capitalize;
}

.company-logo{
    width: 17vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heading-text a:hover{
    color: #333;
}

.heading-text a{
    display: flex;
    gap: 1vw;
    align-items: center;
    color: #333;
}

.company-logo img{
    border-radius: 50%;
    width: 4vw;
}

/* contains the search logo and the input tab  */
.search-bar {
    margin-left: 12%;
    padding: 0 1%;
    width: 30%;
    height: 6vh;
    border-radius: 3vh;
    overflow: hidden;
    background: linear-gradient(-60deg, #2f4f4f20, #d3d3d320);
    background: -webkit-linear-gradient(-60deg,#a0c4ff70,#9bf6ff70);
    transition: all ease-in-out 0.3s;
}

.search-bar:hover{
    /* opacity: 0.8; */
    background: -webkit-linear-gradient(-60deg,#a0c4ffc0,#9bf6ffc0);
} 

/* the search logo  */
.search-bar>i {
    font-size: 1.4rem;
}

/* the input tab  */
.search-input {
    width: 95%;
    height: 100%;
    color: #222;
    font-family: dosis;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0% 1% 0 4%;
    background: none;
    border-radius: 3vh;
    outline: none;
    border: none;
}

/* container that contains user info, wishlist and cart  */
.user-options{
    margin-right: 2vw;
    padding: 0.5%;
    width: 25%;
    color: #222;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* wishlist,cart, user info tabs  */
.user-options>div{
    padding: 1.6% 4%;
    transition: ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* images  */
.user-options>div>i{
    padding:  0 10% 0 0;
}

.user-options>div:hover{
    background-color: #333;
    background: -webkit-linear-gradient(60deg,#a0c4ff,#9bf6ff);
    border-radius: 3vh;
}

.user{
    max-width: 10vw;
    border-radius: 3vh;
    overflow: hidden;
}

.nav-bar {
    width: 100%;
    padding: 0.5% 7%;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar>div {
    padding: 0.5% 1%;
    border-radius: 3rem;
}

.nav-bar>div:hover {
    background-color: #333;
    background: -webkit-linear-gradient(60deg, #a0c4ff, #9bf6ff);
    border-radius: 3vh;
}

.nav-bar>div a {
    font-size: 2rem;
    font-weight: 400;
    font-family: dosis;
    color: #333;
}

hr {
    width: 82%;
    margin-left: 9%;
    margin-bottom: 1%;
}

.pendant-hover {
    border-radius: 0.5rem;
    background: white;
    display: none;
    /* opacity: 0; */
    flex-direction: column;
    height: auto;
    width: 15vw;
    /* top: 17vh;
        left: 18vw; */
    box-shadow: 0px 0px 5px #555;
    position: absolute;
    z-index: 2;
}

.pendant-categories {
    text-align: center;
    width: 15vw;
    font-size: 1.6rem;
    padding: 2% 3%;
    border-radius: 0.5rem;
}

.pendant-categories:hover {
    background: linear-gradient(60deg, #a0c4ff, #9bf6ff);
}

.pendant-categories a:hover {
    color: #333;
}

.pendant-categories a {
    color: #333;
}

#hover-loader {
    margin-top: -2px;
    border-radius: 1rem;
    height: 0.5vh;
    margin-left: 50%;
    width: 0%;
    background-color: #03045e;
}

.user-hover{
    position: absolute;
    font-family: dosis;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #555;
    width: 8vw;
    height: auto;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1vh;
    display: none;
}

.user-categories{
    width: 90%;
    padding: 5%;
    margin: 3%;
    /* background-color: rebeccapurple;  */
    border-radius: .8rem;   
}

#user-hover-loader {
    margin-top: -2px;
    border-radius: 1rem;
    height: 0.5vh;
    /* margin-left: 50%; */
    width: 0%;
    background-color: #03045e;
}
.user-categories:hover {
    /* text-decoration: underline; */
    background: linear-gradient(60deg, #a0c4ff, #9bf6ff);
}

.user-categories a {
    text-align: center;
    font-size: 1.6rem;
    color: #333;
}

.user-categories a:hover {
    color: #333;
}
