header {
    font-size: 1.2vw;
    padding: 1%;
    height: 10vh;
    width: 100%;
    background: linear-gradient(-60deg, #bdb2ff, #fffffc);
    background: #fffffc;
    background: -webkit-linear-gradient(60deg,#a0c4ff30,#9bf6ff30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    text-transform: capitalize;
    /* top: 0;
    left: 0;
    position: sticky; */
}

.company-logo{
    height: 10vh;
    width: 25vw;
    /* margin-left: 3%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
}

.company-logo a:hover{
    color: #333;
}

.company-logo a{
    width: 20vw;
    height: 10vh;
    font-family: poppins;
    font-size:3vw;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
}

.company-logo img{
    border-radius: 50%;
    width: 4vw;
}

/* contains the search logo and the input tab  */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 1%;
    padding: 0 1%;
    width: 35%;
    height: 6vh;
    border-radius: 3vh;
    overflow: hidden;
    background: linear-gradient(-60deg, #2f4f4f20, #d3d3d320);
    background: -webkit-linear-gradient(-60deg,#a0c4ff70,#9bf6ff70);
    transition: all ease-in-out 0.3s;
}

.search-bar:hover{
    /* opacity: 0.8; */
    background: -webkit-linear-gradient(-60deg,#a0c4ffc0,#9bf6ffc0);
} 

/* the search logo  */
.search-bar>i {
    /* background-color: red; */
    font-size: 1.3vw;
}

.search-bar>form{
    display: inline-block;
    /* background-color: red; */
    margin-left:1% ;
    width: 98%;
    border-radius: 3vh;
}

/* the input tab  */
.search-input {
    width: 100%;
    height: 100%;
    color: #222;
    font-family: poppins;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0% 1%;
    background: none;
    /* background-color: pink; */
    /* background-color: blueviolet; */
    border-radius: 3vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    border: none;
}

/* container that contains user info, wishlist and cart  */
.user-options{
    margin-right: 2vw;
    padding: 0.5%;
    width: 25%;
    color: #222;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* wishlist,cart, user info tabs  */
.user-options>div{
    padding: 1.6% 4%;
    transition: ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* images  */
.user-options>div>i{
    padding:  0 10% 0 0;
}

.user-options>div:hover{
    background-color: #333;
    background: -webkit-linear-gradient(60deg,#a0c4ff,#9bf6ff);
    border-radius: 3vh;
}

.user{
    max-width: 10vw;
    border-radius: 3vh;
    overflow: hidden;
}

.nav-bar {
    width: 100%;
    padding: 0.5% 7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
}

.nav-bar>div {
    padding: 0.5% 1%;
    border-radius: 4vw;
}

.nav-bar>div:hover {
    background-color: #333;
    background: -webkit-linear-gradient(60deg, #a0c4ff, #9bf6ff);
    border-radius: 3vh;
}

.nav-bar>div a {
    font-size: 1.2vw;
    font-weight: 400;
    font-family: poppins;
    color: #333;
}

hr {
    width: 82%;
    margin-left: 9%;
    margin-bottom: 1%;
}

.pendant-hover {
    border-radius: 0.7vw;
    background: white;
    flex-direction: column;
    height: auto;
    width: 14vw;
    box-shadow: 0px 0px 5px #555;
    position: absolute;
    z-index: 2;
    display: none;
    padding-bottom: 1px;
}

.pendant-categories {
    text-align: center;
    width: 100%;
    font-size: 1.6vw;
    padding: 2% 3%;
    border-radius: 0.7vw;
}

.pendant-categories:hover {
    background: linear-gradient(60deg, #a0c4ff, #9bf6ff);
}

.pendant-categories a:hover {
    color: #333;
}

.pendant-categories a {
    color: #333;
}

#hover-loader {
    margin-top: -2px;
    border-radius: 0.7vw;
    height: 0.5vh;
    margin-left: 50%;
    width: 0%;
    background-color: #03045e;
}

.user-hover{
    position: absolute;
    font-family: poppins;
    background: white;
    border-radius: 0.7vw;
    box-shadow: 0 0 5px #555;
    width: 10vw;
    height: auto;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1vh;;
    display: none;
}

.user-categories{
    width: 90%;
    padding: 5%;
    /* margin: 3%; */
    border-radius: 0.7vw;   
}

#user-hover-loader {
    margin-top: -2px;
    margin-bottom: 5%;
    border-radius: 1vw;
    height: 0.5vh;
    /* margin-left: 50%; */
    width: 0%;
    background-color: #03045e;
}
.user-categories:hover {
    background: linear-gradient(60deg, #a0c4ff, #9bf6ff);
}

.user-categories a {
    text-align: center;
    font-size: 1.2vw;
    color: #333;
}

.user-categories a:hover {
    color: #333;
}

#search-result-container{
    list-style: none;
    margin: 0;
    z-index: 2;
    position: absolute;
    background: #f5f5f580;
    background: #f5f5f5;
    box-shadow: 0 0 4px #555;
    /* background: linear-gradient(60deg, #a0c4ff, #9bf6ff); */
    width: 32%;
    left: 34%;
    top: 8%;
    padding: 0 0.5%;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    display: block;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    gap: 1vh;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #ccc; 
        border-radius: 2.5px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
      background: #888;
      cursor: pointer;
    }



}

.search-result-section{
    /* box-shadow: 0 0 2px #333; */
    z-index: 5;
    border: 1px solid #33333350;
    width: 100%;
    min-height: 15vh;
    border-radius: 0.5vw;
    overflow: hidden;
    /* background-color: red; */
    display: flex;
    margin: 2% 0;
}
.search-result-image{
    object-fit: cover;
    border-right: 1px solid #33333350;
    width: 27%;
    aspect-ratio: 1;
 }

.search-result-details{
    text-transform: capitalize;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    background: white;
    /* background-color: rebeccapurple; */
    font-size: 1vw;
    font-family: poppins;
    color: #333;
}

.search-result-name{
    font-size: 1.4vw;
    font-weight: 500;
    display: inline-block;
    width: auto;    
}
.search-result-price{
    /* font-size: 1.2vw; */

}

