<div style="background: #e6faff; padding: 2%; border-radius: 4px; font-family: poppins; color: #555;">
   <h1 style="color:#333;font-family: 'Amsterdam Four_ttf'; line-height:2vw;font-weight:400; font-size:3vw; text-align: center; margin-bottom: 10%;">Bliss India</h1>
   <h2 style="color: #333; font-size: 2.2vw;font-weight: 300;">Thank You for Your Order!</h2>
   
   <p style="font-size: 1.8vw;font-weight: 300;">Dear <%= locals.user.name %>,</p>
   
   <p style="font-size: 1.4vw; margin-bottom: 2%;font-weight: 300;">We want to express our sincere gratitude for choosing Bliss India. Your order has been successfully placed and is currently being processed. We are excited to serve you and provide you with an exceptional shopping experience.</p>
   
   <p style="font-size: 1.4vw; margin-bottom: 2%;font-weight: 300;">Orders are usually dispatched within a timeframe of 3 to 7 days from the date of order placement. Customer can download their receipt directly from the website.</p>
   
   <p style="font-size: 1.4vw; margin-bottom: 2%;font-weight: 300;">If you have any questions or require assistance, please feel free to reach out to our customer support team at <a href="https://mail.google.com/mail/?view=cm&to=blissofficialindia@gmail.com">blissofficialindia@gmail.com</a>. We are here to help and ensure your satisfaction.</p>
   
   <p style="font-size: 1.4vw; margin-bottom: 2%;font-weight: 300;">Thank you once again for choosing Bliss India. We value your business and look forward to serving you in the future.</p>
   
   <p style="color: #333; font-size: 1.4vw; font-weight: 300;">Best regards,<br>
      Bliss India Team<br>
   </p></div>
