<style>
    main{
    margin: auto;
    /* border: 2px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    background: -webkit-linear-gradient(120deg, #a0c4ffc0, #9bf6ffc0);
}

a{
    text-decoration: none;
    color: black;
}

.lc-heading{
    font-size: 3vw;
    font-weight: bold;
}

.real-OTP{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    font-size: larger;
}

.auth{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.title{
    text-align: center;
    font-size: 2vw;
}

.content-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    font-size: 1.3vw;
}
</style>
        <main>
            <div class="lc-heading">Login Code</div>
            <div class="real-OTP">
                <div>
                    Here is your OTP:
                </div><br>
                <div>
                    <b><%=OTP%></b>
                </div>
            </div>
            <div class="auth">
                If this request did not come from you, change your account password immediately to prevent further unauthorized access. Contact us for Protecting Your Account and for tips on password strength.
            </div>
            <div class="LOGO">
                
            </div>
        </main>
