<div style="background: #e6faff; padding: 2%; border-radius: 4px; font-family: poppins; color: #555;">
    <h1 style="color:#333;font-family: 'Amsterdam Four_ttf'; line-height:2vw;font-weight:400; font-size:3vw; text-align: center; margin-bottom: 6%;">Bliss India</h1>
     <!-- <div class="lc-heading" style="font-size: 2.2vw; font-weight: 300; margin-bottom: 2%;">Login Code</div> -->
     <div class="real-OTP" style="font-size: 1.8vw; font-weight: 300; margin-bottom: 4%;">
         <div style="font-weight:300;">Here is your OTP:</div><br>
         <div><b><%=OTP%></b></div>
     </div>
     <div class="auth" style="font-size: 1.4vw; font-weight: 300; margin-bottom: 4%;">
         If this request did not come from you, change your account password immediately to prevent further unauthorized access. Contact us for Protecting Your Account and for tips on password strength.
     </div>
     <div class="title" style="font-size: 2.2vw; font-weight: 300; margin-bottom: 0%;">Contact Us</div>
 
     <div class="content-list contact" style="font-size: 1.4vw;">
         <a target="_blank" href="https://mail.google.com/mail/?view=cm&to=blissofficialindia@gmail.com" style="color: #333; text-decoration: none; margin-right: 2%; font-weight:300;">
             Email: blissofficialindia@gmail.com
         </a>
     <br>
         <a target="_blank" href="tel:+916291180066" style="color: #333; text-decoration: none; font-weight:300;">
             Phone: 629-118-0066
         </a>
     </div>
 </div>
 
 